{% extends "mecenati/base.html" %}

{% block page-title %}The Artists - Maecenas{% endblock %}

{% block extra-style %}
        .col-md-6{
            padding-top:70px !important;
}
        a{
            text-decoration:none;
            color:black;
}
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12"><h2>The Artists</h2></div>
        <div class="col-md-12">
            <form action="">
                <div class="form-group"><input class="form-control" type="text" placeholder="search"/></div>
            </form>
        </div>
          <a href="/artists/bansky/">
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/bansky_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Bansky</h3>
                    <p>Everywhere</p>
                    <p>
                        <span class="label label-warning">Vernice Spray</span>
                    </p>
                </div>
            </div>
          </a>
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/roberto_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Roberto Martini</h3>
                    <p>Ascoli Piceno - Italy</p>
                    <p>
                        <span class="label label-warning">Pittura ad olio</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/kobra_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Eduardo Kobra</h3>
                    <p>San Paolo - Brazil</p>
                    <p>
                        <span class="label label-warning">Vernice Spray</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/elle_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Elle Osbourne</h3>
                    <p>San Francisco - United States</p>
                    <p>
                        <span class="label label-warning">Vernice Spray</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/alice_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Alice Pasquini</h3>
                    <p>Rome - Italy</p>
                    <p>
                        <span class="label label-warning">Vernice Spray</span>
                        <span class="label label-warning">Street Art</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4">
                  <img style="height:150px;width:150px;" src="/media/images/artists/ozmo_portrait.jpg" class="img-circle">
                </div>
                <div class="col-md-8">
                    <h3>Gionata Ozmo</h3>
                    <p>Milan - Italy</p>
                    <p>
                        <span class="label label-warning">Vernice Spray</span>
                    </p>
                </div>
            </div>
      </div>
{% endblock %}