{% extends "mecenati/base.html" %}

{% block page-title %}The Artists - Maecenas{% endblock %}

{% block extra-style %}
        .col-md-6{
            padding-top:70px !important;
}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="col-md-4">
          <img style="height:250px;width:250px;" src="/media/images/artists/bansky_portrait.jpg" class="img-circle">
        </div>
        <div class="col-md-8">
            <h1>Bansky</h1>
            <p>Everywhere</p>
            <p>
                <span class="label label-warning">Vernice Spray</span>
            </p>
        </div>
    </div>
    <hr class="col-md-12" style="margin-top:40px;margin-bottom:40px;display:block;">
    <h3>Portfolio</h3>
    <div class="col-md-12">
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/01.jpg" alt=""/>
        <h4>Palestine</h4>
        </div>
    </div>
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/02.jpg" alt=""/>
        <h4>Pulp Fiction</h4>
        </div>
    </div>
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/03.jpg" alt=""/>
        <h4>Flower Thrower</h4>
        </div>
    </div>
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/04.jpg" alt=""/>
        <h4>Hitchcock</h4>
        </div>
    </div>
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/05.jpg" alt=""/>
        <h4>Financial</h4>
        </div>
    </div>
    <div style='text-align:center' class="col-md-4">
        <div class="">
        <img class="" style='display:inline-block;width:70%' src="/media/images/artists/bansky/06.jpg" alt=""/>
        <h4>Sized Coney</h4>
        </div>
    </div></div>
</div>
{% endblock %}